<template>
  <span class="clip" :class="define_color"><slot /></span>
</template>

<script>
export default {
  props: {
    'color': String
  },
  computed: {
    define_color: function() {
      switch(this.color) {
        case 'Not important': 
          return {
            'clip-not-important': true
          }
        case 'Low': 
          return {
            'clip-low': true
          }
        case 'Middle': 
          return {
            'clip-middle': true
          }
        case 'High': 
          return {
            'clip-high': true
          }
        case 'Critical': 
          return {
            'clip-critical': true
          }
        default:
          return {
            'clip-not-important': true
          }
      }
    }
  }
}
</script>

<style scoped>
.clip {
  font-size: 12px;
  vertical-align: middle;
  padding: 5px;
  border-radius: 15px;
}

.clip-not-important {
  background-color: #5edee1;
}
.clip-low {
  background-color: #b9f272;
}
.clip-middle {
  background-color: #faf14f;
}
.clip-high {
  background-color: #ed8d4f;
}
.clip-critical {
  background-color: #f24047;
}
</style>

