<template>
  <div>
    <md-tabs
      v-if="($route.name === 'Sprint' || $route.name === 'Chart') && !admin && sprint"
      class="md-primary"
      md-active-tab="tab-chart"
      md-alignment="fixed"
    >
      <md-tab
        id="tab-sprint"
        md-label="Sprint"
        :to="'/workspace/' + $route.params.name + '/sprint/' + id"
      ></md-tab>
      <md-tab
        id="tab-chart"
        md-label="Burndown Chart"
        :to="'/workspace/' + $route.params.name + '/chart/' + id"
      ></md-tab>
    </md-tabs>
    <chart-line
      v-if="sprint"
      :dataChart="sprint.chart.values"
      :sprintDuration="sprint.duration"
      :sprintCreated="sprint.created"
      :totalCount="totalCount"
      class="chart"
    ></chart-line>
    <div v-else>
      <h1>You have not sprint</h1>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import ChartView from "./ChartView";

export default {
  props: ["id"],
  components: {
    "chart-line": ChartView
  },
  data: function() {
    return {
      sprint: null,
      admin: false
    };
  },
  created() {
    axios
      .get(
        "https://streamline-scrum.herokuapp.com/sprint/" +
          this.id +
          "?workspace_name=" +
          this.$route.params.name,
        {
          headers: {
            Authorization: `Bearer ${this.localStorage.jwt}`
          }
        }
      )
      .then(res => {
        this.sprint = res.data.sprint;
        this.admin = res.data.admin;
        this.$options.sockets.onmessage = res =>
          this.handle_websocket(JSON.parse(res.data));
      })
      .catch(error => {
        this.sprint = null;
        console.log(error);
        if (this.id !== "nothing") {
          this.$router.push("/fail/" + error);
        }
      });
  },
  methods: {
    handle_websocket: function(data) {
      switch (data.method) {
        case "update-sprint": {
          this.sprint = data.sprint;
          break;
        }
      }
    }
  },
  computed: {
    totalCount: function() {
      return (
        this.sprint.pending_stories.length +
        this.sprint.working_stories.length +
        this.sprint.finished_stories.length
      );
    }
  }
};
</script>

<style>
.chart {
  display: block;
  width: 100%;
  height: 90%;
}
</style>
