<template>
  <!-- <chart totalCount="15" sprintDuration="30" :sprintCreated="new Date()" class="chart"></chart> -->
  <md-list class="md-double-line">
    <md-list-item v-for="sprint in sprints" :key="sprint._id">
      <div class="md-list-item-text">
        <span>Created: {{format_date(sprint.created)}}</span>
        <span>Deadline: {{format_date(sprint.deadline)}}</span>
      </div>

      <div class="md-list-action">
        <md-button class="md-accent" @click="delete_sprint(sprint._id)">Delete</md-button>
        <md-button
          class="md-primary"
          :to="'/workspace/' + $route.params.name +'/sprint/' + sprint._id"
        >Open</md-button>
      </div>
    </md-list-item>
  </md-list>
</template>

<script>
import axios from "axios";

export default {
  data: function() {
    return {
      sprints: []
    };
  },
  created() {
    axios
      .get(
        "https://streamline-scrum.herokuapp.com/sprints?workspace_name=" +
          this.$route.params.name,
        {
          headers: {
            Authorization: `Bearer ${this.localStorage.jwt}`
          }
        }
      )
      .then(res => {
        this.sprints = res.data.sprints;
      })
      .catch(err => {
        this.$router.push("/fail/" + err.response.status);
      });
  },
  methods: {
    format_date(date_iso_string) {
      const date = new Date(date_iso_string);
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];

      const day = date.getDate();
      const monthIndex = date.getMonth();
      const year = date.getFullYear();

      return day + " " + monthNames[monthIndex] + " " + year;
    },
    delete_sprint: function(sprint_id) {
      console.log(this.$route.params.name);
      axios
        .delete(
          "https://streamline-scrum.herokuapp.com/sprint/" +
            String(sprint_id) +
            "?workspace_name=" +
            this.$route.params.name,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(() => {
          this.$emit("updatepath", "nothing");
          this.sprints = this.sprints.filter(
            x => String(x._id) !== String(sprint_id)
          );
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    }
  }
};
</script>
