<template>
  <div>
    <md-dialog-confirm
      :md-active.sync="dialog_confirm"
      md-title="Are you sure?"
      md-confirm-text="Yes"
      md-cancel-text="No"
      @md-cancel="dialog_confirm = false;"
      @md-confirm="delete_user_from_workspace()"
    />
    <md-dialog :md-active.sync="add_user_dialog">
      <md-dialog-title>Add User</md-dialog-title>
      <md-dialog-content v-if="add_dialog_users.length !== 0">
        <md-field>
          <label>Username</label>
          <md-input v-model="add_dialog_username" @keyup="get_users(true)"></md-input>
        </md-field>
        <md-list class="md-double-line">
          <md-list-item v-for="user in add_dialog_users" :key="user.username">
            <md-avatar>
              <img :src="user.avatar" alt="People">
            </md-avatar>

            <div class="md-list-item-text">
              <span>{{user.firstname}} {{user.lastname}}</span>
              <span>{{user.username}}</span>
            </div>

            <md-button class="md-icon-button md-list-action" @click="add_user_to_workspace(user)">
              <md-icon>+</md-icon>
            </md-button>
          </md-list-item>
          <div class="pagination">
            <md-button
              class="md-icon-button"
              v-if="add_dialog_page"
              @click="add_dialog_page--; get_users()"
            >
              <v-icon name="arrow-left"></v-icon>
            </md-button>
            <span v-if="add_dialog_pages !== 1">{{add_dialog_page + 1}} / {{add_dialog_pages}}</span>
            <md-button
              class="md-icon-button"
              v-if="add_dialog_page + 1 < add_dialog_pages"
              @click="add_dialog_page++; get_users()"
            >
              <v-icon name="arrow-right"></v-icon>
            </md-button>
          </div>
        </md-list>
      </md-dialog-content>
      <md-dialog-content v-else>
        <h3>All existing users allreary in workspace</h3>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="add_user_dialog = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-list class="md-double-line">
      <md-subheader>Users</md-subheader>
      <md-list-item v-for="user in users" :key="user.username">
        <md-avatar>
          <img :src="user.avatar" alt="People">
        </md-avatar>

        <div class="md-list-item-text">
          <span>{{user.firstname}} {{user.lastname}}</span>
          <span>{{user.username}}</span>
        </div>

        <md-button
          class="md-accent md-list-action"
          v-if="workspace.admin.username !== user.username"
          @click="user_to_delete = user; dialog_confirm = true"
        >Delete</md-button>
      </md-list-item>

      <md-list-item @click="add_user()" class="add-user">
        <div class="md-list-item-text">
          <span>Add user</span>
        </div>

        <md-button class="md-icon-button md-list-action"></md-button>
      </md-list-item>
    </md-list>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: function() {
    return {
      workspace: null,
      users: [],
      add_user_dialog: false,
      add_dialog_username: "",
      add_dialog_users: [],
      add_dialog_pages: 0,
      add_dialog_page: 0,

      user_to_delete: null,
      dialog_confirm: false
    };
  },
  created() {
    axios
      .get(
        "https://streamline-scrum.herokuapp.com/workspace/" +
          this.$route.params.name,
        {
          headers: {
            Authorization: `Bearer ${this.localStorage.jwt}`
          }
        }
      )
      .then(res => {
        this.workspace = res.data.workspace;
      })
      .catch(err => {
        this.$router.push("/fail/" + err.response.status);
      });
    axios
      .get(
        "https://streamline-scrum.herokuapp.com/users?workspace_name=" +
          this.$route.params.name,
        {
          headers: {
            Authorization: `Bearer ${this.localStorage.jwt}`
          }
        }
      )
      .then(res => {
        this.users = res.data.users;
      })
      .catch(err => {
        this.$router.push("/fail/" + err.response.status);
      });
  },
  methods: {
    add_user: function() {
      axios
        .get(
          "https://streamline-scrum.herokuapp.com/users?workspace_name=" +
            this.$route.params.name +
            "&adding=true",
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.add_dialog_users = res.data.users;
          console.log(res.data.users);
          this.add_dialog_pages = res.data.pages;
          this.add_user_dialog = true;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    get_users: function(new_search) {
      if (new_search) {
        this.add_dialog_page = 0;
      }
      axios
        .get(
          `https://streamline-scrum.herokuapp.com/users?username=${
            this.add_dialog_username
          }&page=${this.add_dialog_page}&workspace_name=${
            this.$route.params.name
          }&adding=true`,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.add_dialog_users = res.data.users;
          this.add_dialog_pages = res.data.pages;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    add_user_to_workspace: function(user) {
      this.users.push(user);
      axios
        .put(
          "https://streamline-scrum.herokuapp.com/workspace",
          {
            name: this.$route.params.name,
            members: this.users
          },
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.add_user_dialog = false;
          this.workspace = res.data.workspace;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    delete_user_from_workspace: function() {
      this.users.splice(this.users.indexOf(this.user_to_delete), 1);
      axios
        .put(
          "https://streamline-scrum.herokuapp.com/workspace",
          {
            name: this.$route.params.name,
            members: this.users
          },
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.user_to_delete = null;
          this.workspace = res.data.workspace;
          this.dialog_confirm = false;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    }
  }
};
</script>

<style>
.add-user {
  border: 1px dashed white;
}
</style>
