<template>
  <div style="height: 100%">
    <md-dialog-confirm
      :md-active.sync="dialog_confirm"
      md-title="Are you sure?"
      md-confirm-text="Yes"
      md-cancel-text="No"
      @md-cancel="dialog_confirm = false"
      @md-confirm="delete_story()"
    />
    <md-dialog :md-active.sync="view_story === true && this.story_to_show !== null">
      <md-dialog-title>
        {{story_to_show ? story_to_show.title : 'nothing'}}
        <clip
          :color="story_to_show ? story_to_show.priority : null"
        >{{story_to_show ? story_to_show.priority : 'nothing'}}</clip>
      </md-dialog-title>
      <md-dialog-content>
        <span>{{story_to_show ? story_to_show.description : 'nothing'}}</span>
        <div class="md-layout md-alignment-center contributor">
          <img
            class="avatar"
            :src="story_to_show ? story_to_show.contributor.avatar : null"
            alt="People"
          >
          <div>
            <div>Contributor</div>
            <div>{{story_to_show ? story_to_show.contributor.firstname+' '+story_to_show.contributor.lastname : 'nothing'}}</div>
          </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button
          class="md-accent"
          @click="view_story = false; dialog_confirm = true;"
          v-if="admin"
        >Delete</md-button>
        <md-button class="md-primary" @click="update_story_dialog()" v-if="admin">Update</md-button>
        <md-button class="md-primary" @click="view_story = false; story_to_show = null">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-dialog :md-active.sync="create_dialog">
      <md-dialog-title>Create new sprint</md-dialog-title>
      <md-dialog-content>
        <md-field>
          <md-select v-model="new_duration" name="duration" id="duration" placeholder="Duration">
            <md-option value="14" defauld>2 Weeks</md-option>
            <md-option value="21">3 Weeks</md-option>
            <md-option value="28">4 Weeks</md-option>
          </md-select>
        </md-field>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="create_dialog = false">Close</md-button>
        <md-button class="md-primary" @click="create_new()">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-dialog :md-active.sync="create_story_dialog">
      <md-dialog-title>Create new story</md-dialog-title>
      <md-dialog-content>
        <md-field>
          <label for="name">User Story Title</label>
          <md-input name="name" id="name" v-model="story_title" requered/>
          <span class="md-error">Invald Story name</span>
        </md-field>
        <md-field>
          <label>User Story Description</label>
          <md-textarea v-model="story_description"></md-textarea>
        </md-field>
        <md-field>
          <md-select v-model="story_priority" name="priority" id="priority" placeholder="Priority">
            <md-option value="Not important" defauld>Not important</md-option>
            <md-option value="Low">Low</md-option>
            <md-option value="Middle">Middle</md-option>
            <md-option value="High">High</md-option>
            <md-option value="Critical">Critical</md-option>
          </md-select>
        </md-field>
        <md-field>
          <md-select
            v-model="story_contributor"
            name="contributor"
            id="contributor"
            placeholder="Contributor"
          >
            <md-option
              v-for="user in users"
              :key="user.username"
              :value="user._id"
            >{{user.username}}</md-option>
          </md-select>
        </md-field>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="create_story_dialog = false">Close</md-button>
        <md-button
          class="md-primary"
          :disabled="new_story_check_save_button"
          @click="update_story_flag ? update_story() : create_new_story()"
        >Save</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-empty-state
      v-if="sprint === null || sprint === undefined"
      md-label="Create your first sprint"
      md-description="You have not current sprint in this project"
    >
      <md-button
        v-if="admin || (localStorage.admin !== 'null' && localStorage.admin !== null && localStorage.admin !== 'undefined' && localStorage.admin !== undefined && localStorage.admin !== 'false' && localStorage.admin !== false)"
        class="md-primary md-raised"
        @click="create_dialog = true"
      >Create first sprint</md-button>
    </md-empty-state>
    <div v-else>
      <md-tabs
        v-if="($route.name === 'Sprint' || $route.name === 'Chart') && !admin && (localStorage.admin === null || localStorage.admin === 'null' && localStorage.admin === false || localStorage.admin === 'false')"
        class="md-primary"
        md-active-tab="tab-sprint"
        md-alignment="fixed"
      >
        <md-tab
          id="tab-sprint"
          md-label="Sprint"
          :to="'/workspace/' + $route.params.name + '/sprint/' + id"
        ></md-tab>
        <md-tab
          id="tab-chart"
          md-label="Burndown Chart"
          :to="'/workspace/' + $route.params.name + '/chart/' + id"
        ></md-tab>
      </md-tabs>
      <div class="md-layout md-gutter md-layout-nowrap userstories_view">
        <div class="md-layout-item fullscreen">
          <md-toolbar class="md-black to-do">
            <span class="md-title">To Do</span>
          </md-toolbar>
          <draggable
            class="drag-area"
            v-model="sprint.pending_stories"
            :options="{group:'ITEMS'}"
            @change="on_change($event)"
          >
            <md-toolbar
              v-for="story in sprint.pending_stories"
              :key="story._id"
              class="md-black"
              @click.native="view_story = true; story_to_show = story"
            >
              <md-card-header>
                <md-card-header-text>
                  <div class="md-title">
                    {{story.title}}
                    <clip :color="story.priority">{{story.priority}}</clip>
                  </div>
                </md-card-header-text>
              </md-card-header>
            </md-toolbar>
          </draggable>
          <div class="md-layout md-gutter md-alignment-center" v-if="admin">
            <md-button class="md-fab add-button" @click="open_new_story_dialog()">
              <md-icon>+</md-icon>
            </md-button>
          </div>
        </div>
        <div class="md-layout-item fullscreen">
          <md-toolbar class="md-black doing">
            <span class="md-title">Doing</span>
          </md-toolbar>
          <draggable
            class="drag-area"
            v-model="sprint.working_stories"
            :options="{group:'ITEMS'}"
            @change="on_change($event)"
          >
            <md-toolbar
              v-for="story in sprint.working_stories"
              :key="story._id"
              class="md-black"
              @click.native="view_story = true; story_to_show = story"
            >
              <md-card-header>
                <md-card-header-text>
                  <div class="md-title">
                    {{story.title}}
                    <clip :color="story.priority">{{story.priority}}</clip>
                  </div>
                </md-card-header-text>
              </md-card-header>
            </md-toolbar>
          </draggable>
        </div>
        <div class="md-layout-item fullscreen">
          <md-toolbar class="md-black closed">
            <span class="md-title">Closed</span>
          </md-toolbar>
          <draggable
            class="drag-area"
            v-model="sprint.finished_stories"
            :options="{group:'ITEMS'}"
            @change="on_change($event)"
          >
            <md-toolbar
              v-for="story in sprint.finished_stories"
              :key="story._id"
              class="md-black"
              @click.native="view_story = true; story_to_show = story"
            >
              <md-card-header>
                <md-card-header-text>
                  <div class="md-title">
                    {{story.title}}
                    <clip :color="story.priority">{{story.priority}}</clip>
                  </div>
                </md-card-header-text>
              </md-card-header>
            </md-toolbar>
          </draggable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Draggable from "vuedraggable";
import Clip from "../design_components/Clip";

Date.daysBetween = function(date1, date2) {
  const one_day = 1000 * 60 * 60 * 24;
  const date1_ms = date1.getTime();
  const date2_ms = date2.getTime();
  const difference_ms = date2_ms - date1_ms;
  return Math.round(difference_ms / one_day);
};

export default {
  props: ["id"],
  data: function() {
    return {
      sprint: null,
      admin: false,
      create_dialog: false,
      update_story_flag: false,
      dialog_confirm: false,
      new_duration: 14,
      new_sync: false,
      create_story_dialog: false,
      users: null,

      story_title: "",
      story_description: "",
      story_priority: "Not important",
      story_contributor: null,

      story_to_show: null,
      view_story: false
    };
  },
  created() {
    if (this.id !== "nothing") {
      axios
        .get(
          "https://streamline-scrum.herokuapp.com/sprint/" +
            this.id +
            "?workspace_name=" +
            this.$route.params.name,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.sprint = JSON.parse(JSON.stringify(res.data.sprint));
          const index = Date.daysBetween(
            new Date(this.sprint.created),
            new Date()
          );
          let i = 0;
          while (i <= this.sprint.chart.values.length && i <= index) {
            if (
              this.sprint.chart.values[i] === undefined ||
              this.sprint.chart.values[i] === null
            ) {
              index === i
                ? this.sprint.chart.values.push(
                    this.sprint.pending_stories.length +
                      this.sprint.working_stories.length
                  )
                : i !== 0
                ? this.sprint.chart.values.push(this.sprint.chart.values[i - 1])
                : this.sprint.chart.values.push(
                    this.sprint.pending_stories.length +
                      this.sprint.working_stories.length +
                      this.sprint.finished_stories.length
                  );
            } else {
              index === i
                ? (this.sprint.chart.values[i] =
                    this.sprint.pending_stories.length +
                    this.sprint.working_stories.length)
                : null;
            }
            i++;
          }
          console.log(this.sprint.chart.values);

          if (this.sprint.chart !== res.data.sprint.chart) {
            this.on_change({ added: true });
          }

          this.admin = res.data.admin;
          this.$options.sockets.onmessage = res =>
            this.handle_websocket(JSON.parse(res.data));
        })
        .catch(error => {
          console.log(error.response);
          this.sprint = null;
          this.admin = true;
        });
    } else {
      axios
        .get(
          "https://streamline-scrum.herokuapp.com/isAdmin/" +
            this.$route.params.name,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.admin = res.data.admin;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    }
  },
  methods: {
    handle_websocket: function(data) {
      console.log(data);
      switch (data.method) {
        case "new-story": {
          this.sprint.pending_stories.push(data.story);
          break;
        }
        case "update-sprint": {
          this.sprint = data.sprint;
          break;
        }
      }
    },
    create_new: function() {
      axios
        .post(
          "https://streamline-scrum.herokuapp.com/sprint/",
          {
            workspace_name: this.$route.params.name,
            duration: this.new_duration
          },
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.sprint = res.data.sprint;
          this.id = this.sprint._id;
          this.create_dialog = false;
          this.$emit("updatepath", this.id);
          this.$router.push(
            "/workspace/" +
              this.$route.params.name +
              "/sprint/" +
              this.sprint._id
          );
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    on_change: function(event) {
      if (event.added) {
        const index = Date.daysBetween(
          new Date(this.sprint.created),
          new Date()
        );
        this.sprint.chart.values[index] =
          this.sprint.pending_stories.length +
          this.sprint.working_stories.length;

        axios
          .put(
            "https://streamline-scrum.herokuapp.com/sprint/",
            {
              workspace_name: this.$route.params.name,
              sprint_id: this.sprint._id,
              pending_stories: this.sprint.pending_stories,
              working_stories: this.sprint.working_stories,
              finished_stories: this.sprint.finished_stories,
              chart: this.sprint.chart
            },
            {
              headers: {
                Authorization: `Bearer ${this.localStorage.jwt}`
              }
            }
          )
          .catch(err => {
            this.$router.push("/fail/" + err.response.status);
          });
      }
    },
    open_new_story_dialog: function() {
      axios
        .get(
          "https://streamline-scrum.herokuapp.com/users?workspace_name=" +
            this.$route.params.name,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.users = res.data.users;
          this.create_story_dialog = true;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    create_new_story: function() {
      axios
        .post(
          "https://streamline-scrum.herokuapp.com/userstory/",
          {
            workspace_name: this.$route.params.name,
            sprint_id: this.sprint._id,
            title: this.story_title,
            description: this.story_description,
            contributor: this.story_contributor,
            priority: this.story_priority
          },
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.sprint.pending_stories.push(res.data.story);
          for (let i = 0; i < this.sprint.chart.values.length - 1; i++) {
            this.sprint.chart.values[i]++;
          }
          this.on_change({ added: true });
          this.create_story_dialog = false;
          this.story_title = "";
          this.story_description = "";
          this.story_priority = "Not important";
          this.story_contributor = null;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    delete_story: function() {
      axios
        .delete(
          "https://streamline-scrum.herokuapp.com/userstory/" +
            this.story_to_show._id +
            "?workspace_name=" +
            this.$route.params.name +
            "&sprint_id=" +
            this.sprint._id,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          if (
            this.sprint.pending_stories.filter(
              x => x._id === this.story_to_show._id
            ).length
          )
            this.sprint.pending_stories.splice(
              this.sprint.pending_stories.indexOf(this.story_to_show),
              1
            );
          if (
            this.sprint.working_stories.filter(
              x => x._id === this.story_to_show._id
            ).length
          )
            this.sprint.working_stories.splice(
              this.sprint.working_stories.indexOf(this.story_to_show),
              1
            );
          if (
            this.sprint.finished_stories.filter(
              x => x._id === this.story_to_show._id
            ).length
          )
            this.sprint.finished_stories.splice(
              this.sprint.finished_stories.indexOf(this.story_to_show),
              1
            );
          for (let i = 0; i < this.sprint.chart.values.length - 1; i++) {
            this.sprint.chart.values[i]--;
          }
          this.on_change({ added: true });
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
      this.dialog_confirm = false;
    },
    update_story_dialog: function() {
      axios
        .get(
          "https://streamline-scrum.herokuapp.com/users?workspace_name=" +
            this.$route.params.name,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.users = res.data.users;
          this.story_title = this.story_to_show.title;
          this.story_description = this.story_to_show.description;
          this.story_priority = this.story_to_show.priority;
          this.story_contributor = this.story_to_show.contributor._id;
          this.create_story_dialog = true;
          this.update_story_flag = true;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    update_story: function() {
      axios
        .put(
          "https://streamline-scrum.herokuapp.com/userstory/",
          {
            workspace_name: this.$route.params.name,
            sprint_id: this.sprint._id,
            userstory_id: this.story_to_show._id,
            title: this.story_title,
            description: this.story_description,
            contributor: this.story_contributor,
            priority: this.story_priority
          },
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.create_story_dialog = false;
          this.update_story_flag = false;
          this.story_to_show.title = this.story_title;
          this.story_to_show.description = this.story_description;
          this.story_to_show.contributor = res.data.story.contributor;
          this.story_to_show.priority = this.story_priority;
          this.story_to_show = null;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    }
  },
  components: {
    draggable: Draggable,
    clip: Clip
  },
  computed: {
    new_story_check_save_button: function() {
      return Boolean(this.new_story_name);
    }
  }
};
</script>

<style>
.userstories_view {
  overflow: hidden;
  height: 94%;
}
.to-do,
.doing,
.closed {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.to-do,
.add-button {
  background-color: #eb9e3e !important;
}
.doing {
  background-color: #4ead49 !important;
}
.closed {
  background-color: #682cbe !important;
}
.drag-area {
  min-height: 50px;
}
.contributor {
  margin: 5% 0;
  padding: 5%;
  background-color: #191919;
  border-radius: 70px;
}
</style>

