<template>
  <div>
    <tabs/>
    <div class="content">
      <div class="md-layout md-gutter">
        <div class="md-layout-item">
          <img :src="'https://http.cat/' + code" alt="Fail image">
        </div>
        <div class="md-layout-item">
          <h1 class="md-display-4">Oops...</h1>
          <h3 class="md-display-2">Something went wrong</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "./Menu";

export default {
  props: ["code"],
  components: {
    tabs: Menu
  }
};
</script>

<style>
.content {
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

