<template>
  <div>
    <tabs/>
    <div class="content">
      <div class="md-layout md-gutter">
        <div class="md-layout-item">
          <img
            src="https://res.cloudinary.com/streamline-scrum/image/upload/v1543522766/home_page.png"
            alt="Logo image"
          >
        </div>
        <div class="md-layout-item">
          <h1 class="md-display-3">Streamline</h1>
          <h3
            class="md-headline"
          >Specialized and simple platform for organization of work on projects on Scrum methodology</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "./Menu";

export default {
  components: {
    tabs: Menu
  }
};
</script>

<style>
.content {
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

