<template>
  <div>
    <md-dialog :md-active.sync="showDialog" @md-closed="$emit('close-dialog')">
      <form novalidate @submit.prevent="validateUser">
        <md-card>
          <md-card-header>
            <div class="md-title">Log In</div>
          </md-card-header>

          <md-card-content>
            <div>
              <md-field :class="inputUserName">
                <label for="username">Username</label>
                <md-input name="username" id="username" v-model="username"/>
                <span class="md-error">Uncorrect username</span>
              </md-field>
            </div>

            <div>
              <md-field :class="inputPass">
                <label for="password">Password</label>
                <md-input name="password" id="password" type="password" v-model="password"/>
              </md-field>
            </div>
            <md-card-actions>
              <md-button @click="$emit('close-dialog')">Close</md-button>
              <md-button
                class="md-raised md-primary"
                :disabled="buttonValidate"
                @click="confirm_login"
              >Submit</md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>
      </form>
    </md-dialog>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => {
    return {
      username: null,
      password: null,
      showDialog: true
    };
  },
  methods: {
    validateUser: function() {
      return (
        this.username !== null &&
        this.username.length !== 0 &&
        this.password !== null &&
        this.password.length !== 0
      );
    },
    confirm_login: function() {
      axios
        .post("https://streamline-scrum.herokuapp.com/login", {
          username: this.username,
          password: this.password
        })
        .then(res => {
          if (res.data.failed !== true) {
            this.localStorage.jwt = res.data.token;
            this.localStorage.admin = res.data.user.admin;
            const request = Object.assign(
              { user: res.data.user },
              {
                method: "add-user"
              }
            );
            this.$socket.sendObj(request);
            this.$router.push("/profile");
            this.$emit("close-dialog");
          } else {
            this.$emit("failed");
            this.$emit("close-dialog");
          }
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    }
  },
  computed: {
    inputUserName: function() {
      return {
        "md-invalid": this.username !== null && this.username.length === 0
      };
    },
    inputPass: function() {
      return {
        "md-invalid": this.password !== null && this.password.length === 0
      };
    },
    buttonValidate: function() {
      return !this.validateUser();
    }
  }
};
</script>

<style>
</style>
