<template>
  <div>
    <md-dialog-alert
      :md-active.sync="failed"
      md-content="Invalid username or password"
      md-confirm-text="OK"
      @md-closed="login_dialog = true"
    />
    <md-dialog-alert
      :md-active.sync="usernameIsFree"
      md-content="Sorry, but this username was allready registered"
      md-confirm-text="OK"
    />
    <log-in v-if="login_dialog" @close-dialog="login_dialog = false" @failed="failed = true"></log-in>
    <sign-up
      v-if="signup_dialog"
      @close-dialog="signup_dialog = false"
      @failed="usernameIsFree = true"
    ></sign-up>
    <md-dialog-confirm
      :md-active.sync="dialog_confirm"
      md-title="Are you sure?"
      md-confirm-text="Yes"
      md-cancel-text="No"
      @md-cancel="dialog_confirm = false;
      dialog = true"
      @md-confirm="logout()"
    />
    <md-dialog :md-active.sync="dialog" v-if="user">
      <md-dialog-title>{{user.firstname + ' ' + user.lastname}}</md-dialog-title>
      <md-dialog-content>
        <p>Username: {{user.username}}</p>
        <div class="avatar">
          <img :src="user.avatar" alt="Avatar Image">
        </div>
        <p v-if="user.telegram && user.telegram.length !== 0">Telegram: {{'@' + user.telegram}}</p>
        <p>Registered at: {{format_date(user.registered)}}</p>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-accent" @click="dialog = false; dialog_confirm = true">Logout</md-button>
        <md-button class="md-primary" @click="dialog = false; 
          dialog_update = true;">Edit</md-button>
        <md-button class="md-primary" @click="dialog = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-dialog :md-active.sync="dialog_update" v-if="user">
      <md-dialog-content v-if="user">
        <md-field :class="inputFirstName">
          <label for="firstname">First Name</label>
          <md-input name="firstname" id="firstname" v-model="user.firstname"/>
          <span class="md-error">Invald first name</span>
        </md-field>
        <md-field :class="inputLastName">
          <label for="lastname">Last Name</label>
          <md-input name="lastname" id="lastname" v-model="user.lastname"/>
          <span class="md-error">Invalid last name</span>
        </md-field>
        <div class="avatar">
          <img :src="user.avatar" alt="Avatar Image">
        </div>
        <md-field>
          <label>Single</label>
          <md-file v-model="image.name" @change="onImageUpload($event)"></md-file>
        </md-field>
        <md-field>
          <label for="telegram">Telegram</label>
          <md-input name="telegram" id="telegram" v-model="user.telegram"/>
        </md-field>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="save_user()">Save</md-button>
        <md-button class="md-primary" @click="dialog_update = false; image = {name: ''}">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-toolbar>
      <md-button id="button-home" to="/">Home</md-button>
      <div v-if="autorizated">
        <md-button id="button-workspaces" to="/profile">Workspaces</md-button>
      </div>
      <div v-if="admin_global">
        <md-button id="button-workspaces" to="/users">Users</md-button>
      </div>
      <div v-if="autorizated" class="md-toolbar-section-end">
        <md-button id="button-log-out" @click="show_user()">
          <v-icon name="user"></v-icon>
        </md-button>
      </div>
      <div v-else class="md-toolbar-section-end">
        <md-button
          id="button-sign-in"
          class="md-raised"
          @click="login_dialog = !login_dialog"
        >Sign in</md-button>
        <md-button
          id="button-sign-up"
          class="md-raised md-primary"
          @click="signup_dialog = !signup_dialog"
        >Sign up</md-button>
      </div>
    </md-toolbar>
  </div>
</template>

<script>
import axios from "axios";
import LogIn from "./LogIn";
import SignUp from "./SignUp";

export default {
  name: "Menu",
  components: {
    "log-in": LogIn,
    "sign-up": SignUp
  },
  data: function() {
    return {
      jwt: false,
      right_side_bar: false,
      dialog: false,
      dialog_update: false,
      dialog_confirm: false,
      user: null,
      login_dialog: false,
      signup_dialog: false,
      failed: false,
      usernameIsFree: false,
      image: { name: "" }
    };
  },
  methods: {
    LOG: function(l) {
      console.log(l);
    },
    logout: function() {
      this.jwt = false;
      this.localStorage.jwt = null;
      this.localStorage.admin = null;
      this.dialog = false;
      this.dialog_confirm = false;
      this.user = null;
      if (this.$route.path !== "/") this.$router.push("/");
      else this.$router.push("/kostil");
    },
    format_date(date_iso_string) {
      const date = new Date(date_iso_string);
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];

      const day = date.getDate();
      const monthIndex = date.getMonth();
      const year = date.getFullYear();

      return day + " " + monthNames[monthIndex] + " " + year;
    },
    show_user: function() {
      axios
        .get("https://streamline-scrum.herokuapp.com/user", {
          headers: {
            Authorization: `Bearer ${this.localStorage.jwt}`
          }
        })
        .then(res => {
          console.log(res.data);
          this.user = {
            firstname: res.data.firstname,
            lastname: res.data.lastname,
            username: res.data.username,
            registered: res.data.registered,
            telegram: res.data.telegram,
            avatar: res.data.avatar
          };
          console.log(this.user);
          this.dialog = true;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    onImageUpload(event) {
      this.image = event.target.files[0];
      console.log(this.image);
    },
    save_user: function() {
      let data = new FormData();
      data.append("username", this.user.username);
      data.append("firstname", this.user.firstname);
      data.append("lastname", this.user.lastname);
      data.append("telegram", this.user.telegram);
      if (this.image !== { name: "" }) data.append("image", this.image);
      axios
        .put("https://streamline-scrum.herokuapp.com/user", data, {
          headers: {
            Authorization: `Bearer ${this.localStorage.jwt}`
          }
        })
        .then(res => {
          this.dialog_update = false;
          this.dialog = true;
          this.image = { name: "" };
          this.user.avatar = res.data.user.avatar;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    }
  },
  computed: {
    autorizated: function() {
      console.log(this.localStorage.jwt);
      return Boolean(
        this.localStorage.jwt !== "null" && this.localStorage.jwt !== null
      );
    },
    admin_global: function() {
      console.log(this.localStorage.admin);
      return Boolean(
        this.localStorage.admin !== "null" &&
          this.localStorage.admin &&
          this.localStorage.admin === true
      );
    },
    inputFirstName: function() {
      return {
        "md-invalid":
          this.user.firstname !== null && this.user.firstname.length === 0
      };
    },
    inputLastName: function() {
      return {
        "md-invalid":
          this.user.lastname !== null && this.user.lastname.length === 0
      };
    }
  }
};
</script>

<style>
.avatar {
  width: 300px;
}
.avatar img {
  object-fit: cover;
}
</style>
