<template>
  <div>
    <tabs/>
    <md-dialog-confirm
      :md-active.sync="name_to_delete"
      md-title="Are you sure?"
      md-content="You will desproy all the information about this workspace"
      md-confirm-text="OK"
      md-cancel-text="Cancel"
      @md-cancel="this.name_to_delete = null"
      @md-confirm="delete_workspace(name_to_delete)"
    />
    <md-dialog-alert
      :md-active.sync="error_dialog"
      md-content="Workspace with this name allready exist."
      md-confirm-text="OK"
    />
    <md-dialog :md-active.sync="create_dialog">
      <md-dialog-title>Create new workspace</md-dialog-title>
      <md-dialog-content>
        <md-field>
          <label for="name">Workspace name</label>
          <md-input name="name" id="name" v-model="new_name"/>
          <span class="md-error">Invald workspace name</span>
        </md-field>
        <md-field>
          <label>Description</label>
          <md-textarea v-model="new_description"></md-textarea>
        </md-field>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="create_dialog = false">Close</md-button>
        <md-button class="md-primary" @click="create_new()">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-empty-state
      v-if="(workspaces === null || workspaces.length === 0) && empty"
      md-label="Create your first workspace"
      md-description="Creating workspace, you'll be able to optimaze your work and collaborate it with other team."
    >
      <md-button class="md-primary md-raised" @click="create_dialog = true">Create first workspace</md-button>
    </md-empty-state>
    <div v-else>
      <md-field>
        <label>Name</label>
        <md-input v-model="search_name" @keyup="page = 0; get_workspaces()"></md-input>
      </md-field>
      <h1 v-if="(workspaces === null || workspaces.length === 0)">Nothing here...</h1>
      <md-card v-for="workspace in workspaces" :key="workspace.name" class="md-primary">
        <md-card-header>
          <md-card-header-text>
            <div class="md-title">{{workspace.name}}</div>
            <div class="md-subhead">{{workspace.description}}</div>
          </md-card-header-text>

          <md-card-actions>
            <md-button @click="open_workspace(workspace.name)">Open</md-button>
            <md-button class="md-accent md-raised" @click="name_to_delete = workspace.name">Delete</md-button>
          </md-card-actions>
        </md-card-header>
      </md-card>
      <div class="pagination" v-if="pages > 1">
        <md-button class="md-icon-button" :disabled="page <= 0" @click="page--; get_workspaces()">
          <v-icon name="arrow-left"></v-icon>
        </md-button>
        <span v-if="pages !== 1">{{page + 1}} / {{pages}}</span>
        <md-button
          class="md-icon-button"
          :disabled="!(page + 1 < pages)"
          @click="page++; get_workspaces()"
        >
          <v-icon name="arrow-right"></v-icon>
        </md-button>
      </div>
      <div class="md-layout md-gutter md-alignment-center">
        <md-button class="md-fab md-primary" @click="create_dialog = true">
          <md-icon>+</md-icon>
        </md-button>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "./Menu";
import axios from "axios";

export default {
  components: {
    tabs: Menu
  },
  data: function() {
    return {
      workspaces: null,
      create_dialog: false,
      new_name: "",
      new_description: "",
      error_dialog: false,
      name_to_delete: null,
      pages: 1,
      page: 0,
      search_name: "",
      empty: true
    };
  },
  created() {
    this.get_workspaces();
  },
  methods: {
    open_workspace: function(workspace_name) {
      this.$router.push("/workspace/" + workspace_name);
    },
    get_workspaces: function() {
      axios
        .get(
          "https://streamline-scrum.herokuapp.com/workspaces?page=" +
            this.page +
            "&name=" +
            this.search_name,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          console.log(localStorage.getItem("jwt"));
          this.workspaces = res.data.workspaces;
          this.pages = res.data.pages;
          this.empty = res.data.empty;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    delete_workspace: function(workspace_name) {
      axios
        .delete(
          "https://streamline-scrum.herokuapp.com/workspace/" + workspace_name,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          if (this.workspaces.length === 1 && this.page !== 0) {
            this.page--;
          }
          this.get_workspaces();
          this.name_to_delete = null;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    create_new: function() {
      axios
        .post(
          "https://streamline-scrum.herokuapp.com/workspace/",
          {
            name: this.new_name,
            description: this.new_description
          },
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          if (this.page + 1 === this.pages && this.workspaces.length !== 5)
            this.workspaces.push(res.data.workspace);
          this.create_dialog = false;
          this.get_workspaces();
        })
        .catch(res => {
          this.create_dialog = false;
          this.error_dialog = true;
          this.$router.push("/fail/" + err.response.status);
        });
    }
  },
  computed: {}
};
</script>

