<template>
  <div>
    <md-dialog-alert
      :md-active.sync="usernameIsFree"
      md-content="Sorry, but this username was allready registered"
      md-confirm-text="OK"
    />
    <md-dialog :md-active.sync="showDialog" @md-closed="$emit('close-dialog')">
      <form novalidate @submit.prevent="validateUser">
        <md-card>
          <md-card-header>
            <div class="md-title">Registration</div>
          </md-card-header>

          <md-card-content>
            <md-field :class="inputFirstName">
              <label for="firstname">First Name</label>
              <md-input name="firstname" id="firstname" v-model="firstname"/>
              <span class="md-error">Invald first name</span>
            </md-field>

            <md-field :class="inputLastName">
              <label for="lastname">Last Name</label>
              <md-input name="lastname" id="lastname" v-model="lastname"/>
              <span class="md-error">Invalid last name</span>
            </md-field>

            <md-field :class="inputUserName">
              <label for="username">Username</label>
              <md-input name="username" id="username" v-model="username"/>
              <span class="md-error">Uncorrect username</span>
            </md-field>

            <md-field :class="inputPass">
              <label for="password">Password</label>
              <md-input name="password" id="password" type="password" v-model="password"/>
            </md-field>

            <md-field :class="inputConfPass">
              <label for="confpass">Confirm Password</label>
              <md-input name="confpass" id="confpass" type="password" v-model="confpass"/>
            </md-field>
            <md-card-actions>
              <md-button @click="$emit('close-dialog')">Close</md-button>
              <md-button
                class="md-raised md-primary"
                :disabled="buttonValidate"
                @click="confirm_registration"
              >Submit</md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>
      </form>
    </md-dialog>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => {
    return {
      showDialog: true,
      firstname: null,
      lastname: null,
      username: null,
      password: null,
      confpass: null,
      usernameIsFree: false
    };
  },
  methods: {
    validateUser: function() {
      return (
        this.firstname !== null &&
        this.firstname.length !== 0 &&
        this.lastname !== null &&
        this.lastname.length !== 0 &&
        this.username !== null &&
        this.username.length !== 0 &&
        this.password !== null &&
        this.password.length !== 0 &&
        this.confpass !== null &&
        this.confpass.length !== 0 &&
        this.password === this.confpass
      );
    },
    check_username: function() {
      return axios.post(
        "https://streamline-scrum.herokuapp.com/checkusername",
        {
          username: this.username
        }
      );
    },
    confirm_registration: function() {
      this.check_username()
        .then(res => res.data.free)
        .then(free => {
          if (free) {
            axios
              .post("https://streamline-scrum.herokuapp.com/signup", {
                username: this.username,
                password: this.password,
                firstname: this.firstname,
                lastname: this.lastname
              })
              .then(res => {
                if (res.data.failed !== true) {
                  this.localStorage.jwt = res.data.token;
                  this.localStorage.admin = res.data.user.admin;
                  const request = Object.assign(
                    { user: res.data.user },
                    {
                      method: "add-user"
                    }
                  );
                  this.$socket.sendObj(request);
                  this.$router.push("/profile");
                  this.$emit("close-dialog");
                } else {
                  this.$emit("failed");
                  this.$emit("close-dialog");
                }
              });
          } else {
            this.$emit("failed");
            this.$emit("close-dialog");
          }
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    }
  },
  computed: {
    inputFirstName: function() {
      return {
        "md-invalid": this.firstname !== null && this.firstname.length === 0
      };
    },
    inputLastName: function() {
      return {
        "md-invalid": this.lastname !== null && this.lastname.length === 0
      };
    },
    inputUserName: function() {
      return {
        "md-invalid":
          this.username !== null &&
          this.username.length === 0 &&
          !this.usernameIsFree
      };
    },
    inputPass: function() {
      return {
        "md-invalid":
          this.password !== null &&
          this.password.length === 0 &&
          this.password !== this.confpass
      };
    },
    inputConfPass: function() {
      return {
        "md-invalid": this.password !== this.confpass
      };
    },
    buttonValidate: function() {
      return !this.validateUser();
    }
  }
};
</script>

<style>
</style>
