<template>
  <div>
    <tabs/>
    <md-dialog-confirm
      :md-active.sync="dialog_confirm"
      md-title="Are you sure?"
      md-confirm-text="Yes"
      md-cancel-text="No"
      @md-cancel="dialog_confirm = false;
      dialog = true"
      @md-confirm="confirm_delete()"
    />
    <md-dialog :md-active.sync="dialog">
      <md-dialog-title>{{user ? user.firstname + ' ' + user.lastname : "nothing" }}</md-dialog-title>
      <md-dialog-content>
        <p>Username: {{user ? user.username : 'nothing'}}</p>
        <div class="avatar">
          <img :src="user ? user.avatar: 'nothing'" alt="Avatar Image">
        </div>
        <p>Registered at: {{user ? format_date(user.registered) : 'nothing'}}</p>
        <p>Admin: {{user ? user.admin : 'nothing'}}</p>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-accent" @click="dialog = false;
        dialog_confirm = true">Delete</md-button>
        <md-button
          class="md-primary"
          @click="dialog = false; 
          dialog_update = true; 
          update_user = JSON.parse(JSON.stringify(user))"
        >Edit</md-button>
        <md-button class="md-primary" @click="dialog = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-dialog :md-active.sync="dialog_update">
      <md-dialog-content v-if="update_user">
        <md-field :class="inputFirstName">
          <label for="firstname">First Name</label>
          <md-input name="firstname" id="firstname" v-model="update_user.firstname"/>
          <span class="md-error">Invald first name</span>
        </md-field>
        <md-field :class="inputLastName">
          <label for="lastname">Last Name</label>
          <md-input name="lastname" id="lastname" v-model="update_user.lastname"/>
          <span class="md-error">Invalid last name</span>
        </md-field>
        <md-switch id="admin" name="admin" v-model="update_user.admin">Admin</md-switch>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="save_user()">Save</md-button>
        <md-button class="md-primary" @click="dialog_update = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-field>
      <label>Username</label>
      <md-input v-model="search_username" @keyup="page = 0; get_users(true)"></md-input>
    </md-field>
    <md-list class="md-double-line" v-if="users.length > 0">
      <md-subheader>Users</md-subheader>
      <md-list-item v-for="user in users" :key="user.username">
        <md-avatar>
          <img :src="user.avatar" alt="People">
        </md-avatar>

        <div class="md-list-item-text">
          <span>{{user.firstname}} {{user.lastname}}</span>
          <span>{{user.username}}</span>
        </div>

        <md-button class="md-primary md-list-action" @click="show_user(user)">Show</md-button>
      </md-list-item>
    </md-list>
    <h1 v-else>Nothing here...</h1>
    <div class="pagination">
      <md-button class="md-icon-button" :disabled="page <= 0" @click="page--; get_users()">
        <v-icon name="arrow-left"></v-icon>
      </md-button>
      <span v-if="pages !== 1">{{page + 1}} / {{pages}}</span>
      <md-button
        class="md-icon-button"
        :disabled="!(page + 1 < pages)"
        @click="page++; get_users()"
      >
        <v-icon name="arrow-right"></v-icon>
      </md-button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Menu from "./Menu";

export default {
  components: {
    tabs: Menu
  },
  data: function() {
    return {
      users: [],
      search_username: "",
      page: 0,
      pages: 0,
      dialog: false,
      dialog_update: false,
      dialog_confirm: false,
      user: null,
      update_user: null
    };
  },
  created() {
    this.get_users();
  },
  methods: {
    format_date(date_iso_string) {
      const date = new Date(date_iso_string);
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];

      const day = date.getDate();
      const monthIndex = date.getMonth();
      const year = date.getFullYear();

      return day + " " + monthNames[monthIndex] + " " + year;
    },
    get_users: function() {
      axios
        .get(
          "https://streamline-scrum.herokuapp.com/users?page=" +
            this.page +
            "&username=" +
            this.search_username,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          if (res.data.admin) {
            this.users = res.data.users;
            this.pages = res.data.pages;
          }
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    show_user: function(user) {
      this.user = user;
      this.dialog = true;
    },
    save_user: function() {
      axios
        .put(
          "https://streamline-scrum.herokuapp.com/user",
          {
            username: this.update_user.username,
            firstname: this.update_user.firstname,
            lastname: this.update_user.lastname,
            admin: this.update_user.admin
          },
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.user = this.update_user;
          this.users.forEach(element => {
            if (element.username === this.update_user.username) {
              element.firstname = this.update_user.firstname;
              element.lastname = this.update_user.lastname;
              element.admin = this.update_user.admin;
            }
          });
          this.dialog_update = false;
          this.dialog = true;
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    },
    confirm_delete: function() {
      axios
        .delete(
          "https://streamline-scrum.herokuapp.com/user/" + this.user.username,
          {
            headers: {
              Authorization: `Bearer ${this.localStorage.jwt}`
            }
          }
        )
        .then(res => {
          this.users.splice(
            this.users.indexOf(
              this.users.find(x => x.username === this.user.username)
            ),
            1
          );
        })
        .catch(err => {
          this.$router.push("/fail/" + err.response.status);
        });
    }
  },
  computed: {
    inputFirstName: function() {
      return {
        "md-invalid":
          this.user.firstname !== null && this.user.firstname.length === 0
      };
    },
    inputLastName: function() {
      return {
        "md-invalid":
          this.user.lastname !== null && this.user.lastname.length === 0
      };
    }
  }
};
</script>

<style>
.pagination {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.avatar {
  width: 300px;
}
.avatar img {
  object-fit: cover;
}
</style>
