<template>
  <div style="height: 100%">
    <tabs/>
    <md-app :md-scrollbar="false" style="height: 100%" v-if="admin">
      <md-app-toolbar class="md-black">
        <span class="md-title">{{this.$route.params.name}}</span>
        <md-tabs
          v-if="$route.name === 'Sprint' || $route.name === 'Chart'"
          class="md-transparent"
          md-alignment="fixed"
        >
          <md-tab
            id="tab-home"
            md-label="Sprint"
            :to="'/workspace/' + $route.params.name + '/sprint/' + String(path_to_sprint ? path_to_sprint : 'nothing')"
          ></md-tab>
          <md-tab
            id="tab-pages"
            md-label="Burndown Chart"
            :to="'/workspace/' + $route.params.name + '/chart/' + String(path_to_sprint ? path_to_sprint : 'nothing')"
          ></md-tab>
        </md-tabs>
      </md-app-toolbar>
      <md-app-drawer md-permanent="full">
        <md-toolbar class="md-transparent" md-elevation="0">
          <h2>{{this.$route.params.name}}</h2>
        </md-toolbar>
        <md-list>
          <md-list-item
            :to="'/workspace/' + $route.params.name + '/sprint/' + String(path_to_sprint ? path_to_sprint : 'nothing')"
          >
            <span>Current Sprint</span>
          </md-list-item>
          <md-list-item :to="'/workspace/' + $route.params.name + '/history'">
            <span>History</span>
          </md-list-item>
          <md-list-item :to="'/workspace/' + $route.params.name + '/settings'">
            <span>Settings</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>
      <md-app-content>
        <router-view @updatepath="path_to_sprint = $event"/>
      </md-app-content>
    </md-app>
    <router-view v-else/>
  </div>
</template>

<script>
import Menu from "./Menu";
import axios from "axios";

export default {
  components: {
    tabs: Menu
  },
  data: function() {
    return {
      workspace: null,
      admin: false,
      path_to_sprint: ""
    };
  },
  created() {
    axios
      .get(
        "https://streamline-scrum.herokuapp.com/workspace/" +
          this.$route.params.name,
        {
          headers: {
            Authorization: `Bearer ${this.localStorage.jwt}`
          }
        }
      )
      .then(res => {
        this.workspace = res.data.workspace;
        this.path_to_sprint = this.workspace.currentSprint
          ? this.workspace.currentSprint._id
          : "nothing";
        this.admin = res.data.admin;
        this.$router.push(
          "/workspace/" +
            this.$route.params.name +
            "/sprint/" +
            String(
              this.workspace
                ? this.workspace.currentSprint
                  ? this.workspace.currentSprint._id
                  : "nothing"
                : "nothing"
            )
        );
      })
      .catch(err => {
        this.$router.push("/fail/" + err.response.status);
      });
  }
};
</script>

<style>
.active_link {
  background-color: #4e4e4e;
}
.md-app {
}
</style>

